#flex {
    display: flex;
    justify-content: center;
}

.container {
    height: 70vh;
    width: 80vw;
    margin: 8vh 10vw;
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
}

.montres {
    background-image:url("../images/img_02.jpg");
    background-position: center;
    background-size: cover;
    grid-column: 1 / 13;
    grid-row: 1 / 12;
}

.montres:hover {
    background-image:url("../images/img_02_dark.jpg");
    transition-duration: .2s;
}

.gousset {
    background-image:url("../images/img_01.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 1 / 6;
    grid-row: 14 / 22;
}

.gousset:hover {
    background-image:url("../images/img_01_dark.jpg");
    transition-duration: .2s;
}

.reparation {
    background-image:url("../images/img_11.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 8 / 13;
    grid-row: 14 / 22;
}

.reparation:hover {
    background-image:url("../images/img_11_dark.jpg");
    transition-duration: .2s;
}

.horloge {
    background-image:url("../images/img_09.jpg");
    background-position: center;
    background-size: cover;
    grid-column: 14 / 22;
    grid-row: 1 / 22;
}

.horloge:hover {
    background-image:url("../images/img_09_dark.jpg");
    transition-duration: .05s;
}

.container div {
    border: 3px solid #C0B283;
}