/* ! Fichier CSS gérant les font-faces, le background et le header */


@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'MontserratI';
    src: url('../fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'MontserratB';
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel/Cinzel-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'CinzelB';
    src: url('../fonts/Cinzel/Cinzel-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'CinzelBL';
    src: url('../fonts/Cinzel/Cinzel-Black.ttf') format('truetype');

}


/* Retrait des marges automatiques */

html,
body {
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}

/* Application de la police, la couleur du texte par défaut et du background */

body {
    font-family: 'Montserrat';
    color: #373737;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'CinzelBL';
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F4F4F4;
    padding: 2vh 0;
    border-bottom: 3px solid #C0B283;
}

.logo {
    height: 7.5vh;
    padding-left: 3%;
}

nav ul {
    display: flex;
    width: 45vw;
}

nav ul li {
    font-size: 2.5vh;
    margin-right: 5vw;
    list-style-type: none;
    line-break: unset;
}

li a {
    text-decoration: none;
    color: #373737;
}

li a:hover {
    color: #C0B283;
}